{% extends 'base.html' %}

{% block title %}
Create a bill
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Create a bill</h1>
<form method="post" class="form-group">
    {% csrf_token %}
    {{form|crispy}}
    <label for="stores">Select a Store</label>
    <select name="storeList" id="stores">
        {% if stores is not None %}
            {% for store in stores %}
            <option value={{store.storeId}}>{{store.storeName}}</option>
            {% endfor %}
        {% else %}
        <option disabled>No stores avaible</option>
        {% endif %}
    </select>
    <p>Don't see a the Store you need? <a href="/store/create">Create one!</a></p>
    <br>
    <button type="submit" class="btn btn-primary" {% if stores is None %} disabled {% endif %}>Create Bill</button>
</form>
{% endblock %}