{% extends 'base.html' %}

{% block title %}
Create a loan
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Create a Loan</h1>
<form method="post" class="form-group">
    {% csrf_token %}
    {{form|crispy}}
    <input type="date" name="dueDate" />
    <br />
    <label for="stores">Select a Store</label>
    <select name="storeList" id="stores">
        {% if stores is not None %}
            {% for store in stores %}
            <option value={{store.storeId}}>{{store.storeName}}</option>
            {% endfor %}
        {% else %}
        <option disabled>No stores avaible</option>
        {% endif %}
    </select>
    <p>Don't see a the Credit Union you need? <a href="/store/create?next={{request.path}}">Create one!</a></p>
    <br>
    <button type="submit" class="btn btn-primary">Create Loan</button>
</form>
{% endblock %}