{% extends 'base.html' %}

{% block title %}
Welcome to the Community!
{% endblock %}

{% load static %}

{% block content %}
<h1>Welcome to the Community!</h1>
<p>This is where you can post questions, ideas, suggestions on how to save money.</p>
<br />
<form method="GET">
    <input type="text" name="search" {% if search is not None %} value="{{search}}" {% endif %} />
    <button type="submit" class="btn btn-primary">Search!</button>
    <br />
    <a href="{{request.path}}">Clear Search</a>
</form>
<br />
{% if posts is not None %}
    {% for post in posts %}
    <a class="posts" href="/community/posts/details/{{post.postId}}">
        <div class="card">
            <div class="card-body">
                <h6 class="float-right">{{post.userFirstName}} {{post.userLastName}}</h6>
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="float-right">{{post.date}}</h6>
                <p>{{post.postBody}}</p>
            </div>
        </div>
    </a>
    <br />
    {% endfor %}
{% else %}
    {% if search is not None %}
    <p>No posts contains "{{search}}". <a href="/community/posts/create">Create a Post!</a></p>
    {% else %}
        <p>No Posts yet</p>
    {% endif %}
{% endif %}
<br />
{% endblock %}