{% extends 'base.html' %}

{% block title %}
Track your expenses!
{% endblock %}

{% block content %}
<h1>You can track expenses!</h1>
<br />
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create a Bill or Loan
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="bills/create">Create a Bill</a>
        <a class="dropdown-item" href="loan/create">Create a Loan</a>
    </div>
</div>
{% endblock %}