{% extends 'base.html' %}

{% block title %}
Track your expenses!
{% endblock %}

{% block content %}
<br />
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create an Expense</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/bills/create">Create a Bill</a>
        <a class="dropdown-item" href="/loan/create">Create a Loan</a>
        <a {% if budget is not None %} href="/misc/create" {% endif %} class="dropdown-item">Create a Miscellaneous </a>
        <a href="/subscription/create" class="dropdown-item" aria-disabled="tr">Create a Subscription</a>
    </div>
</div>
<br />
<h3>Your Bills</h3>
<table class="table" aria-describedby="user-bills">
    <thead>
        <tr>
            <th scope="col">Nickname</th>
            <th scope="col">Due Date</th>
            <th scope="col">Price</th>
            <th scope="col">Late?</th>
            <th scope="col">End Date</th>
            <th scope="col">Store</th>
            <th scope="col">Store's Website</th>
        </tr>
    </thead>
    <tbody>
        {% if bills == None %}
        <tr>
            <td colspan="7" style="text-align: center;">You have no Bills.</td>
        </tr>
        {% else %}
            {% for bill in bills %}
            <tr>
                <td>{{bill.billName}}</td>
                <td>{{bill.billDate}}</td>
                <td>${{bill.billPrice}}</td>
                <td>{% if bill.isLate == '0' %} No {% else %} Yes {% endif %}</td>
                <td>{{bill.endDate}}</td>
                <td>{{bill.storeName}}</td>
                <td><a href="https://{{bill.storeWebsite}}" target="_blank">{{bill.storeWebsite}}</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<br />
<h3>Your Loans</h3>
<table class="table" aria-describedby="user-loans">
    <thead>
        <tr>
            <th scope="col">Nickname</th>
            <th scope="col">Due Date</th>
            <th scope="col">Amount Due(Monthly)</th>
            <th scope="col">Deposit</th>
            <th scope="col">Total Amount Due</th>
            <th scope="col">Store</th>
            <th scope="col">Store's Website</th>
        </tr>
    </thead>
    <tbody>
        {% if loans == None %}
        <tr>
            <td colspan="7" style="text-align: center;">You have no Loans.</td>
        </tr>
        {% else %}
            {% for loan in loans %}
            <tr>
                <td>{{loan.loanName}}</td>
                <td>{{loan.dueDate}}</td>
                <td>${{loan.monthlyAmountDue}}</td>
                <td>${{loan.deposit}}</td>
                <td>${{loan.totalAmountDue}}</td>
                <td>{{loan.storeName}}</td>
                <td><a href="https://{{loan.storeWebsite}}" target="_blank">{{loan.storeWebsite}}</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
<br />
<h3>Your Subscriptions</h3>
<table class="table" aria-describedby="user-subs">
    <thead>
        <tr>
            <th scope="col">Nickname</th>
            <th scope="col">Due Date</th>
            <th scope="col">Price</th>
            <th scope="col">Store</th>
            <th scope="col">Store's Website</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if subs == None %}
                <td colspan="5" style="text-align: center;">You have no Subscriptions.</td>
                
            {% else %}
                {% for sub in subs %}
                    <td>{{sub.subName}}</td>
                    <td>{{sub.dueDate}}</td>
                    <td>${{sub.amountDue}}</td>
                    <td>{{sub.storeName}}</td>
                    <td><a href="https://{{sub.storeWebsite}}" target="_blank">{{sub.storeWebsite}}</a></td>
                </tr>
                {% endfor %}
            {% endif %}
        
    </tbody>
</table>
<br />
<h3>Your Miscellaneous Expenses</h3>
<table class="table" aria-describedby="user-misc">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">Memo</th>
            <th scope="col">Store</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if miscs == None %}
                <td colspan="5" style="text-align: center;">You have no Miscellaneous.</td>
            {% else %}
                {% for misc in miscs %}
                    <td>{{misc.miscName}}</td>
                    <td>{{misc.date}}</td>
                    <td>{{misc.price}}</td>
                    <td>{{misc.memo}}</td>
                    <td>{{misc.storeName}}</td>
                </tr>
                {% endfor %}
            {% endif %}
    </tbody>
</table>
{% endblock %}